[user]
name = Zach Lysobey
email = zlysobey@gmail.com 

[alias]
lg = log --pretty=oneline -n 20 --graph --abbrev-commit
st = status -s
d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
pu = push
f = fetch
r = rebase
so = show
fr = !"git fetch && git rebase"
from = !"git fetch && git rebase origin/master"
mast = checkout master
co = checkout
cane = commit --amend --no-edit
c = commit
undo = reset --soft head~

[pager]
log = false
diff = false
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
