[user]
name = Zach Lysobey
email = zlysobey@gmail.com 

[alias]
lg = log --pretty=oneline -n 20 --graph --abbrev-commit

# aliases pulled from this SO post: https://stackoverflow.com/a/34467298/363701
lg1 = !"git lg1-specific --all"
lg2 = !"git lg2-specific --all"
lg3 = !"git lg3-specific --all"
lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

st = status -s
d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
pu = push
f = fetch
r = rebase
so = show
fr = !"git fetch && git rebase"
from = !"git fetch && git rebase origin/master"
frod = !"git fetch && git rebase origin/development"
mast = checkout master
dev = checkout development
co = checkout
cane = commit --amend --no-edit
c = commit
undo = reset --soft head~
branches = branch --all --sort=-committerdate
recent = for-each-ref --sort=-committerdate refs/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[pager]
	log = false
	diff = false
[color]
	ui = true
[pull]
	rebase = true
[commit]
	verbose = true
